{% extends 'majaslapa/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans 'Instrukcija' %}
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/majaslapa/css/instruction.css' %}" />
{% endblock %}

{% block body %}

<div class="container">
    <div class="accordion__title">
        <h1>{% trans 'Instrukcija' %}</h1>
    </div>
    <button class="accordion">{% trans ' 1. Kā Reģistrēties ' %}</button>
    <div class="panel">
        <p>{% trans 'Lai lietotājs varētu iegādāties kādu preci, viņam vispirms jāreģistrē savs konts ' %}</p>
        <p>{% trans 'Lai to izdarīt jums ir nepieciešams:' %}</p>
        <ul>
            <li>{% trans ' 1. Galvenajā lapā augšējā labajā stūrī ir poga'%}
                <span href="#">{% trans 'Register'%}</span>
                , {% trans 'uz kuras jums jānoklikšķina ar peles kreiso taustiņu' %}
            </li>
            <li>{% trans '2. Pēc tam jūs tiksit novirzīts uz citu lapu, kur sākat reģistrēšanās procesu' %}</li>
            <li>
                {% trans '3. Lai veiksmīgi reģistrētos, jums jāievada lietotājvārds, e-pasts,parole un tā jādublē
                (parolēm jāsakrīt), pēc tam noklikšķiniet uz pogas "Reģistrēties' %}"
            </li>
            <li>{% trans ' 4. Uz jūsu e-pastu (norādīts reģistrējoties) tiks nosūtīta reģistrācijas apstiprinājuma
                vēstule' %}</li>
            <li>{% trans '5. Pēc tam jūsu konts tiks veiksmīgi saglabāts datu bāzē' %}</li>
        </ul>
    </div>

    <button class="accordion">2. Kā pieslēgties</button>
    <div class="panel">
        <p>Kad esat reģistrējis savu kontu, jums ir nepieciešams:</p>
        <li>1. Galvenajā lapā tajā pašā vietā kur atrodas reģistrācijas poga, ir poga <span>"Login"</span>,
            noklikšķiniet uz tās ar peles kreiso pogu</li>
        <li>2. Jūs tiksit novirzīts uz pieteikšanās lapu</li>
        <li>3. Šajā lapā jums jānorāda savs e pasts un parole</li>
        <li>4. Pēc tam jūs veiksmīgi piekļūsit savam kontam mūsu vietnē</li>
        <p><span class="red-text">Gadījumā, ja pēkšņi aizmirsāt paroli, tā ir jāatiestata un jāmaina uz citu (norādījumi
                par paroles atiestatīšanu un maiņu zemāk</span></p>
    </div>

    <button class="accordion">3. Kā ar mums sakontaktēties?</button>
    <div class="panel">
        <p>Ja kaut kas nedarbojas mūsu mājas lapā, tad ir nepieciešams sazināties ar mums</p>
        <p>Lai to izdarītu jums ir nepieciešams:</p>
        <li>1. Augšējā kreisajā pusē ir poga <span>"Contact Us"</span>, noklikšķiniet uz tās ar peles kreiso pogu</li>
        <li>2. Jūs tiksiet novirzīts uz lapu, lai sazinātos ar mums</li>
        <li>3. Aizpildiet veidlapu un noteikti norādiet savu e-pastu, pretējā gadījumā mēs nevarēsim jums atbildēt</li>
        <li>4. Detalizēti aprakstiet savu situāciju un gaidiet atbildi no mums elektroniski ( e-pasts)</li>
    </div>

    <button class="accordion">4. Viss par pasūtijumiem</button>
    <div class="panel">
        <p>Ja vēlaties apskatīt informācīju par savu pirkumu, kā pasūtijuma numurs, produkta nosaukums, pasūtīšanas
            datums, pasūtījuma statuss, un pasūtījuma maksa, to visu ir iespējams redzēt <span>Orders</span> sadaļā.</p>
        <p>Lai to izdarītu jums ir nepieciešams:</p>
        <li>1. Ierakstīties saitā ar reģistrētu profilu.</li>
        <li>2. Noklikšķināt uz <span>Account</span> pogu, kas ir atrodama vietnes augšējās rīkjoslas labajā pusē.</li>
        <li>3. Noklikšķināt uz <span>My Orders</span> pogu.</li>
    </div>

    <button class="accordion">5.Viss par profilu </button>
    <div class="panel">
        <p>Profila lapā jūs spēsiet pārvaldīt un pārskatīt visu savu profila informāciju. Tur jūs varēsiet nomainīt savu
            profila bildi, lietotājvārdu, paroli, un doties uz Orders Page.</p>
        <li>1. Ierakstīties saitā ar reģistrētu profilu.</li>
        <li>2. Noklikšķināt uz <span>Account</span> pogu, kas ir atrodama vietnes augšējās rīkjoslas labajā pusē.</li>
    </div>

    <button class="accordion">6. Paroles maiņa</button>
    <div class="panel">
        <li>1. Lai atiestatītu vai mainītu paroli, jums jāmēģina pieteikties, pēc kura virs pieteikšanās pogas būs
            uzraksts "aizmirsu paroli". Noklikšķiniet uz tā!</li>
        <li>2. Jūs tiksit novirzīts uz paroles atiestatīšanas lapu, kurā norādāt savu e-pastu</li>
        <li>3. Uz jūsu pastu tiks nosūtīts apstiprinājuma e-pasts, kurā būs norādīts ka vēlaties atiestatīt paroli.</li>
        <li>4. Pēc tam jūsu parole tiks atiestatīta un jums būs jānorāda jauna parole un tā jāatkārto</li>
        <p><span class="red-text">Uzmanību! Pārbaudiet, vai jūsu jaunā parole darbojas, ja nē, tad rakstiet atbalstam
                !</span></p>
    </div>

    <button class="accordion">7. Par mums</button>
    <div class="panel">
        <p>Ja vēlaties noskaidrot par ko mūsu mājaslapā pārstāv, tad About Us sadaļā varat izlasīt īsu aprakstu.</p>
        <p>Lai to izdarītu jums ir nepieciešams:</p>
        <li>1. Augšējā lapas rīkjoslas kreisajā malā ir atrodamas pogas, klikšķinot uz About Us, jūs aizvedīs uz
            About
            Us lapu.</li>
    </div>
    <button class="accordion">8. Sākumlapa</button>
    <div class="panel">
        <p>Ierodaties mājaslapā, jums būs iespēja izvēlēties vienu no daudzām preču kategorijām, un turpināt
            pārlūkot
            preces ar automātiski izvēlētiem filtriem.</p>
    </div>

</div>

<button class="accordion">9. Manage users</button>
<div class="panel">
    <p>Lietotāju sadaļā var apskatīt visus eksistējošos kontus, to lietotājvārdus, e-pastu adreses un administratora
        statusu.</p>
    <p>Lai rediģētu konta detaļas, noklikšķiniet uz profila lietotājvārdu, un tas jūs aizvedīs uz lapu, kurā var mainīt
        visu informāciju. </p>
    <p>Ja vēlies izdzēst vairākus profilus vienlaicīgi, to var izdarīt atzīmējot rūtiņas izvēlētajiem profiliem,
        izvēlēties “Delete selected categories” atlases logā, un spiest uz pogu “Go”.</p>
</div>

<button class="accordion">10. Manage categories</button>
<div class="panel">
    <p>Šajā sadaļā var aplūkot un mainīt preču kategorijas, kuras tiks paradītas pirmajā tīmekļa lapā.</p>
    <p>Lai pievienotu jaunu kategoriju, jāklikšķina uz pogas “Add Kategorija”, tas jūs aizvedīs uz kategorijas
        veidošanas lapu, kurā būs jāievada jaunās kategorijas nosaukums latviski, nosaukums angliski, kategorijas bilde,
        un jānorāda vai kategorija būs aktīva. Pēc tā, kad visa vajadzīgā informācija ir ievadīta, labaja pusē var
        nospiest “Saglabāt”.</p>
    <p>Lai rediģētu eksistējošu kategoriju, noklikšķiniet uz eksistējošās kategorijas nosaukuma, un tas jūs aizvedīs uz
        veidošanas lapu. </p>
    <p>Ja vēlies izdzēst kādu kategoriju, pogu “Delete” var atrast veidošanas lapas labajā pusē.</p>
    <p>Ja vēlies izdzēst vairākas kategorijas vienlaicīgi, to var izdarīt atzīmējot rūtiņas izvēlētām kategorijām,
        izvēlēties “Delete selected categories” atlases logā, un spiest uz pogu “Go”.</p>
</div>

<button class="accordion">11. Manage orders</button>
<div class="panel">
    <p>Pasūtījumu sadaļā var redzēt visus veiktos pasūtījumus un informāciju, kā pasūtītājs, produkts, daudzums, cena,
        pasūtījuma numurs, pasūtīšanas datums, un pasūtījuma statuss.</p>
    <p>Lai rediģētu kādu pasūtījumu, noklikšķiniet uz pasūtītāja vārda, un tas jūs aizvedīs uz veidošanas lapu.</p>
</div>

<button class="accordion">12. Manages items</button>
<div class="panel">
    <p>Šajā kategorijā tiek strādāts ar visām precēm, kas tiek pārdotas tīmekļa lapā.</p>
    <p>Lai pievienotu jaunu kategoriju, jāklikšķina uz pogas “Add Prece”, tas jūs aizvedīs uz kategorijas veidošanas
        lapu, kurā būs jāievada informācija, kā produkta veids, kategorija, nosaukums un apraksts latviski, nosaukums un
        apraksts angliski, parastā cena, atlaides cena, daudzums noliktavā, preces bilde, jānorāda vai prece būs
        redzama, un produkta specifikācija.</p>
</div>

</div>
</main>
<script src="instruction.js"></script>
{% endblock %}